
<div style="width: 100%;">
<h1 mat-dialog-title>Delete Product</h1>
<h4>Are you sure?</h4>
<mat-dialog-content>
  <div>
    <strong>Name: </strong>&nbsp;{{wantedProduct.Name}}
  </div>
  <div>
    <strong>Price: </strong>&nbsp;{{wantedProduct.Price}}
  </div>
  <div>
    <strong>Quantity: </strong>&nbsp;{{wantedProduct.Quantity}}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close mat-dialog-close="true" (click)="deleteProduct()" color="warn">Delete</button>
  <button mat-raised-button mat-dialog-close mat-dialog-close="false">Close</button>
</mat-dialog-actions>
</div>
