<!-- <h1 mat-dialog-title>Check Out</h1>
<mat-dialog-content>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCheckClick()" cdkFocusInitial>Check Now</button>
  <button mat-button mat-dialog-close (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions> -->

  <h1 mat-dialog-title>Hello</h1>
  <mat-dialog-content>
    <p>Total Cost = {{data.totalCost}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close></button>
  </mat-dialog-actions>

